#left {
    width: 30em;
}

#inputContainer {
    width: 100%;
    background-color: var(--v2);
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}


#inputContainer button {
    font: .9em "Arial", sans-serif;
    font-weight: 500;
    width: 100%;
    background: var(--v4);
}

#inputContainer button:hover {
    filter: brightness(85%);
}

#inputContainer button:active {
    background: gray;
}

.subcontainer {
    width: 30em;
    box-sizing: border-box;
}

.code {
    background: var(--v4);
    font: 12px "Consolas", sans-serif;
}

textarea {
    font: 15px "Arial", sans-serif;
    background: var(--v4);
    color: var(--text);
    height: 25em;
    width: 100%;
    resize: vertical;
}
