:root {
    --v0: #8DB38B;
    --v1: #56876D;
    --v2: #04724D;
    --v3: #BDBEA9;
    --v4: #2b2b2b;
    --bd: #ff0000;
    --bd-dark: #940000;
    --text: #fff;
    --text-sub: #359e61;
}

body {
    font: 1.2em "Arial", sans-serif;
    text-align: center;
    margin: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    gap: 20px;
    min-height: calc(100dvh);
    padding: 20px;
    margin: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
}

button {
    color: var(--text);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    border: none;
}

h3 {
    color: var(--text);
    margin: 0;
    pointer-events: none;
}