
.filter-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text);
    background: var(--v1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #04724D2E;
    z-index: 1000;
}
.filter-popup label {
    display: block;
    margin: 5px;
}

.filter-popup button {
    font: .8em "Arial", sans-serif;
    font-weight: 500;
    background: var(--v4);
    cursor: pointer;
    margin: 10px 0 5px 0;
}

.filter-popup button:hover {
    background: var(--v2);
}

.filter-table {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.filter-column {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}